.menu {
    display: inline-block;
}

header {    
    background-color:  #c28943;
    color: rgb(52, 48, 40);
    text-align: left;
    padding: 20px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    background-color: #651111;
}

nav a {
    flex: 1;
    color: rgb(228, 220, 170);
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #b28b17;
    color: black;
}

section {
    background-color: #f5e7cd;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.interest {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.interest img {
    margin: 10px;
    max-width: 150px;
    max-height: 150px;
}

.interest a {
    display: block;
    text-align: center;
    margin: 10px;
    font-size: 18px;
    color: #333;
    text-decoration: none;
}

.banaan a {
    color: #333;
}

.banaan a:hover {
    color: #c6750c;
}

.interest a:hover {
    color: #c6750c;
}

.gallery-image {
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    animation: rotate 10s infinite linear;
}

.gallery-image-1 {
    animation-delay: 0s;
}

.gallery-image-2 {
    animation-delay: 2s;
}

.gallery-image-3 {
    animation-delay: 4s;
}

.gallery-image-4 {
    animation-delay: 6s;
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg) translateZ(500px);
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        transform: rotateY(180deg) translateZ(500px);
    }

    75% {
        opacity: 1;
    }

    100% {
        transform: rotateY(360deg) translateZ(500px);
        opacity: 0;
    }
}
